$primary-color: #fff;
$secondary-color: #0080ff;
$text-color: #000;
$box-shadow:#888888;
%hr {
    border-top: 1px solid #E8E8E8;
    padding: 0 10px;
}

%p {
    padding-left: 10px;
}

%transform {
    border-radius: 20px;
    transition: 2s;
    background-color: $secondary-color;
    backface-visibility: hidden;
    perspective: 100;
    //transform: translate3d(0, 0, 0);
    /* or */
    //transform: translateZ(0);
}