        @import 'config';
        body {
            // background-color: #E8E8E8;
            //background-color: #E0E0E0;
            //background-color: white;
        }
        
        // .moi,
        // .experience,
        // .education {
        //     background-color: $primary-color;
        // }
        .first-sec {
            display: flex;
            justify-content: space-around;
            background-color: #F5F5F5;
            width: 100vw;
            //height: 100vh;
            .moi {
                background-color: $primary-color;
                box-shadow: 5px 10px 20px $box-shadow;
                width: 35vw;
                //height: 1670px;
                margin-top: 20px;
                p,
                h3 {
                    @extend %p
                }
            }
            .moi-details,
            .moi-skills,
            .moi-languages {
                display: flex;
                align-items: center;
                padding: 0 20px;
            }
            .exp-edu {
                margin-top: 20px;
                .experience {
                    background-color: $primary-color;
                    box-shadow: 5px 5px 10px $box-shadow;
                    margin-bottom: 10px;
                    width: 63vw;
                    //height: 750px;
                }
                .exp-details {
                    padding: 50px;
                    .exp-details-icon {
                        display: flex;
                        align-items: center;
                    }
                }
                .education {
                    background-color: $primary-color;
                    box-shadow: 5px 5px 10px $box-shadow;
                    width: 63vw;
                    //height: 750px;
                }
                .edu-details {
                    padding: 40px;
                    .edu-details-icon {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        
        hr {
            @extend %hr
        }
        
        i {
            color: $secondary-color;
        }
        
        time {
            color: $secondary-color;
            @extend %p
        }
        
        button {
            background-color: $secondary-color;
            color: $primary-color;
            border-radius: 5px;
            padding: 7px 17px;
        }
        
        @import 'footer';
        @import 'mobile';