hr {
  border-top: 1px solid #E8E8E8;
  padding: 0 10px;
}

.first-sec .moi p,
.first-sec .moi h3, time {
  padding-left: 10px;
}

.html1, .css1, .jav1, .react1, .vue1, .sass1, .git1 .accessibility1 {
  border-radius: 20px;
  -webkit-transition: 2s;
  transition: 2s;
  background-color: #0080ff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 100;
          perspective: 100;
  /* or */
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-size: 30px;
  line-height: 1.2;
  color: #000;
}

p {
  font-size: 17px;
  line-height: 1.5;
  color: #000;
}

.first-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #F8F8F8;
  width: 100vw;
}

.first-sec .moi {
  background-color: #fff;
  -webkit-box-shadow: 5px 10px 20px #888888;
          box-shadow: 5px 10px 20px #888888;
  width: 35vw;
  margin-top: 20px;
}

.first-sec .moi-details,
.first-sec .skills-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.first-sec .exp-edu {
  margin-top: 20px;
}

.first-sec .exp-edu .experience {
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
  margin-bottom: 10px;
  width: 63vw;
  height: 37%;
}

.first-sec .exp-edu .exp-details {
  padding: 50px;
}

.first-sec .exp-edu .exp-details .exp-details-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-sec .exp-edu .education {
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
  width: 63vw;
}

.first-sec .exp-edu .edu-details {
  padding: 40px;
}

.first-sec .exp-edu .edu-details .edu-details-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

i {
  color: #0080ff;
}

time {
  color: #0080ff;
}

button {
  background-color: #0080ff;
  color: #fff;
  border-radius: 5px;
  padding: 7px 17px;
}

.skill-bar {
  width: 90%;
  margin: 20px;
}

.skill-bar .progress-bar {
  background-color: #F8F8F8;
  color: #fff;
  border-radius: 20px;
  margin: 10px 0px;
  padding: 2px 2px;
}

.skill-bar .progress-bar .html,
.skill-bar .progress-bar .css,
.skill-bar .progress-bar .javascript,
.skill-bar .progress-bar .react,
.skill-bar .progress-bar .vue,
.skill-bar .progress-bar .sass,
.skill-bar .progress-bar .git,
.skill-bar .progress-bar .accessibility {
  background-color: #0080ff;
  border-radius: 20px;
  width: 30%;
}

.skill-bar .progress-bar span {
  float: right;
  font-size: 13px;
  padding-right: 10px;
}

.html1 {
  width: 80%;
}

.css1 {
  width: 70%;
}

.jav1 {
  width: 60%;
}

.react1 {
  width: 20%;
}

.vue1 {
  width: 50%;
}

.sass1 {
  width: 50%;
}

.git1 {
  width: 60%;
}

.accessibility1{
  width: 60%;
}

.footer {
  background-color: #0080ff;
  width: 100%;
  margin-top: 15px;
  padding-top: 1px;
}

.footer p {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.footer .footer-icons {
  text-align: center;
  padding-bottom: 15px;
}

.footer .footer-icons i {
  color: #fff;
  padding: 2px;
}

.footer i:hover {
  color: #000;
}

@media (max-width: 800px) {
  .first-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #fff;
  }
  .first-sec .moi {
    width: 90vw;
    background-color: #fff;
    margin-bottom: 10px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .first-sec .exp-edu .experience,
  .first-sec .exp-edu .education {
    background-color: #fff;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .first-sec .exp-edu .exp-details,
  .first-sec .exp-edu .edu-details {
    padding: 30px 20px;
  }
  .footer {
    margin-top: 10px;
    padding-bottom: 5px;
  }
  .footer-icons {
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */